{%extends 'poster/base.html'%}
{% block body %}
<!DOCTYPE html>
<html>
{% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
</html>

<body>
<div class="topbar">
</div>
<div>

        <form method="post">
        {% csrf_token %}
        <ul>
    {% for c in poster %}
        <li><img src="{{ c.image1.url }}" style="width: 304px;height: 228px"></li>
        <li>{{ c.title }}</li>
        <li>{{ c.category }}</li>
        <button type="submit" class="btn btn-success">Add to Cart.</button>
    {% endfor %}
    </ul>
        </form>
</div>
</body>
{% endblock %}