{% extends 'poster/base.html' %}

{% block body %}
    <style>
    .loginform{
        display: table;
        margin-top: 50px;
        left: 50%;
        top: 45px;
        border: solid black;
        border-radius: 15px;
        padding: 30px;
        background: rgba(129,0,127,0.4);
        margin-left:525px;
    }
    .loginform:hover{
        background: rgba(129,0,127,0.6);
    }
    .button{
        margin: 10px 0 10px 0;
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 5px 32px 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'Open Sans', sans-serif;
	font-weight:700;
    color: #ffffff;
        height: 30px;
        border-radius: 6px;
    }
    .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
    .facebook {
        display: inline-block;
    text-align: center;
    vertical-align: middle;
	width: 120px;
	height:50px;
	padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #3b5998;
    font-family: 'Open Sans', sans-serif;
	font-weight:700;
    color: #ffffff;
    text-decoration: none;
	margin-right: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
    .facebook:hover,
.facebook:focus {
    background: #37528c;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.facebook:active {
    background: #1ca4d6;
}
.facebook:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
	padding-left: 10px;
    top: -10px;
    left: -10px;
    background: url("http://i.imgur.com/0bcxkOD.png") no-repeat center center #37528c;
    background-size: 13px 24px;
	-webkit-border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	-o-border-radius: 8px 0px 0px 8px;
	-ms-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px;
}
    .google {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
	width: 120px;
	height:50px;
	padding-top: 10px;
    border: 0px solid #178bb6;
    border-radius: 8px;
    background: #d34836;
    font-family: 'Open Sans', sans-serif;
	font-weight:700;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.google:hover,
.google:focus {
    background: #c74534;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.google:active {
    background: #1ca4d6;
}
.google:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 45px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
	padding-left: 10px;
    top: -10px;
    left: -15px;
    background: url("http://i.imgur.com/GxFF74f.png") no-repeat center center #c74534;
    background-size: 24px 24px;
	-webkit-border-radius: 8px 0px 0px 8px;
	-moz-border-radius: 8px 0px 0px 8px;
	-o-border-radius: 8px 0px 0px 8px;
	-ms-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px;
}
    .login-options {
	margin-top: 15px;
	color: #9c9c9c;
	margin-bottom: 25px;
}
body {
  background: url(http://www.lanlinglaurel.com/data/out/37/4214905-background-images-for-websites.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    </style>


<form method="post" class="loginform">
                {% csrf_token %}
                {{ form.as_p }}
                <button style="margin-left: 80px" type="submit" class="button">Login</button>
    <p style="text-align:center; margin-bottom: 10px">OR</p>
    <span style="margin-left: 10px"><a class="facebook" class="socialaccount_provider facebook" href="/accounts/facebook/login/?process=login">Facebook</a></span>
        <a class="google" href="#"><span style="margin-left: -5px">Gmail</span></a></div>
            </form>
{% endblock %}