{%extends 'poster/base.html'%}
{% block body %}
<!DOCTYPE html>
<html>
{% load static %}
	{%block title%}
    <title>{{x.first_name}} {{x.last_name}} - Printachu</title>
    {% endblock%}
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{%static 'poster/profilecss.css' %}">
</html>

<body>
<div class="topbar">
</div>
<div>
    {% if artist.profile_pic == ''  %}
    <a href="/poster/buildprofile">You are one step close to complete your profile details</a>
    {% else %}
        <ul>
            <div><img src="{{ artist.profile_pic }}"></div>
            <div>{{ x.first_name }}  {{ x.last_name }}</div>
            <div>{{ x.email }}</div>
            <div>{{ x.join_as }}</div>
            <div>{{ x.date_of_birth }}</div>
            <div> {{ artist.Description }}</div>
            <div>{{ artist.cash_nrec }}</div>
            <div>{{ artist.cash_rec }}</div>
            <div>{{ user.last_login }}</div>
        </ul>
    {% endif %}
</div>
</body>
{% endblock %}