{% extends 'poster/base.html' %}
{% load static %}
{% block body %}
    <head>
    <link href="{% static 'poster/progress1.css' %}" rel="stylesheet" />
    </head>
    <ul>



    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Designs</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            {% for c in anime %}
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img style="#" class="img-responsive" src={{ c.image1.url }} alt="">
                </a>
            </div>
            {% endfor %}<!--
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>-->

        <!--<hr>

        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>-->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>




   <!-- {% for c in anime %}
        <li><a href="/poster/display/{{ c.id }}"><img src="{{ c.image1.url }}" style="width: 304px;height: 228px"></a></li>
        <li>{{ c.title }}</li>
        <li>{{ c.category }}</li>
        <li>{{ c.id }}</li>
    {% endfor %}-->
    </ul>
{% endblock %}