<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <style>
        body{
            margin-top : 50px;
            }
        .registerform > input{
            margin-bottom : 15px;
            }
         .registerform > select{
            margin-bottom : 15px;
            }
    </style>
</head>
<body>
{% csrf_token %}
<div class="container">
<div class="jumbotron" style="margin: 0px 330px 44px 240px">
    {% csrf_token %}
    <form action="" method="post" class="registerform" id="register">
        {% csrf_token %}
        Name<br>
        <span style="margin-right: 15px"><input id="first_name" style="width : 150px " type="text" name="firstname" placeholder="First Name" required></span>
        <input style="width: 150px" id="last_name" type="text" name="lastname" placeholder="Last Name" required>
        {% csrf_token %}
        <br>Email<br>
        <input id="email" type="text" name="email" style="width: 315px" required>
        {% csrf_token %}
        <br>Create a password<br>
        <input id="password1" type="password" minlength="8" name="password1" style="width: 315px" required placeholder="Minimum 8 characters">
        {% csrf_token %}
        <br>Confirm your password<br>
        <input  id="password2" type="password" name="password2" required style="width: 315px" placeholder="Re-enter the same password">
        {% csrf_token %}
        <br>Birthday<br>
        <input  id="dob" type="date" style="width: 150px" name="dateofbirth">
        {% csrf_token %}
        <br>Gender<br>
        <select id="gender"  name="gender" style="width: 150px" >
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            <option value="unknown">Rather Not Say</option>
        </select>
        {% csrf_token %}
        <br>Join as<br>
        <select id="type" name="usertype" style="width: 150px">
            <option value="artist">An Artist</option>
            <option value="customer">Customer</option>
        </select>
        {% csrf_token %}
        <br><br><button type="submit">Register</button>
    </form>
</div>
</div>
</body>
<script type="text/javascript">
    $(document).on('submit','#register',function(e){
        e.preventDefault();

    $.ajax({
        type:"POST",
        url:'/poster/register',
        data:{
            first_name:$('#first_name').val(),
            last_name:$('#last_name').val(),
            email:$('#email').val(),
            password1:$('#password1').val(),
            password2:$('#password2').val(),
            dob:$('#dob').val(),
            gender:$('#gender').val(),
            type:$('#type').val(),
            csrfmiddlewaretoken:$('input[first_name=csrfmiddlewaretoken]').val()
        },
        sucess:function(){
            alert("test succesfull");
        }
        });
    });
</script>
</html>